# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtualenv
venv/
env/
*.env
*.venv

# Django
*.log
*.sqlite3
/db.sqlite3
/media/
staticfiles/
static/

# VS Code
.vscode/

# JetBrains (PyCharm)
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Migrations (если хочешь игнорировать сгенерированные миграции)
*/migrations/*.py
!*/migrations/__init__.py

# Celery
celerybeat-schedule

# Docker
*.dockerfile
docker-compose.yml
.env.docker
__docker__

# Git
.git/